body {
    background-color: #18181a;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.carddetalhe{
    width: '100%';
    max-width: 1000px;
    padding: 2rem;
    box-shadow: 0 4px 10px white;
    border-radius: 15px;
    margin-top: -20px;
}
